header{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1114px;
    background-color: #043E51;
}
.intro{
    margin-top: 33px;
    display: flex;
    gap: 34px;

    &__hikoya{
        width: 537px;
        height: 544px;
        margin-top: 117px;
    }
}